In [ ]:
# Injest Data

# 1. Coverage data

## Initialisation

In [272]:
from sqlalchemy import create_engine

import os

import pandas as pd
import psycopg2
from psycopg2 import sql

# Function to read the Excel file
def read_excel_file(file_path):
    # Read the Excel file using pandas
    df = pd.read_excel(file_path, sheet_name='Sheet1')
    return df

import numpy as np

import re

from glob import glob

In [14]:
climate_data_home = "/home/wesley/github/etheleon/national_analysis/data/climate/"

In [273]:
%load_ext sql
%sql postgresql://postgres:Hanjin%4027@localhost/dengue

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
def insert_data_into_postgresql(df, connection):
    cursor = connection.cursor()

    # Prepare the INSERT query
    insert_query = sql.SQL("""
        INSERT INTO national_analysis.site_release (
            postal, sector_id, premise_type, release_date, total_dwelling
        ) VALUES (%s, %s, %s, %s, %s)
    """)

    # Iterate over the rows in the DataFrame and insert them into the table
    for index, row in df.iterrows():
        cursor.execute(insert_query, (
            int(row['postal']),
            row['sector_id'],
            row['premise_type'],
            row['release_date'] if pd.notnull(row['release_date']) else None,  # Handle NA dates
            int(row['total_dwelling']) if pd.notnull(row['total_dwelling']) else None
        ))

    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into national_analysis.site_release!")

In [8]:
release_site_home = "/home/wesley/github/etheleon/national_analysis/data/release_site"

In [9]:
! ls $release_site_home

hdb.xlsx  landed.xlsx  rct.xlsx

# Create connection

In [280]:
db_params = {
    'dbname': 'dengue',
    'user': 'postgres',
    'password': 'Hanjin@27',
    'host': 'localhost',
    'port': '5432'
}

connection = psycopg2.connect(**db_params)

## HDB data

In [10]:
hdb_df = read_excel_file(os.path.join(release_site_home, "hdb.xlsx"))
hdb_df["PremiseType"].unique()

array(['HDB_RESIDENTIAL'], dtype=object)

In [11]:
hdb_df_short = (
    hdb_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
hdb_df_short

      postal     premise_type sector_id release_date  total_dwelling
0     520103  HDB_RESIDENTIAL     FL332   2020-02-17             126
1     520104  HDB_RESIDENTIAL     FL332   2020-02-17             119
2     520140  HDB_RESIDENTIAL     FL306   2019-11-04             114
3     520143  HDB_RESIDENTIAL     FL306   2019-11-04              80
4     520202  HDB_RESIDENTIAL     FL119   2020-02-17             140
...      ...              ...       ...          ...             ...
2777  391092  HDB_RESIDENTIAL     FL848   2024-02-28             180
2778  392091  HDB_RESIDENTIAL     FL848   2024-02-28             182
2779  391091  HDB_RESIDENTIAL     FL848   2024-02-28             201
2780  391090  HDB_RESIDENTIAL     FL848   2024-02-28             204
2781  392090  HDB_RESIDENTIAL     FL848   2024-02-28             187

[2782 rows x 5 columns]

In [26]:
insert_data_into_postgresql(hdb_df_short, connection)

Data inserted successfully into national_analysis.site_release!

In [84]:
# connection.close()

There are sites where wolbachia has never been released before

In [33]:
%%sql 

select * from national_analysis.site_release where postal = 681801

 * postgresql://postgres:***@localhost/dengue
1 rows affected.

[(681801, 'FL767', 'HDB_RESIDENTIAL', None, 96)]

## Landed data

In [28]:
landed_df = read_excel_file(os.path.join(release_site_home, "landed.xlsx"))
landed_df["PremiseType"].unique()

array(['LANDED_RESIDENTIAL'], dtype=object)

In [29]:
landed_df

,Postal,Block,PremiseType,RO,Constituency,EHISectorID,Sector_ID,StudyArea,ReleaseSiteSincePhase2.2,FirstReleaseDate_Postal,...,FirstReleaseEYEW_Sector,StartRelease_FullSector,StartRelease_SectorAdjusted,TotalDwelling,DATA_TYPE,FirstSustainedReleaseDate_Postal,FirstSustainedReleaseEmonth_Postal,FirstSustainedReleaseEyear.Eweek_Postal,Num_Gravitrap_deployed_2022EW17/18,Remarks
0,415800,14A,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
1,415801,14B,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
2,415899,396,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO226,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
3,416507,1,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
4,416508,2,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15775,277080,20,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15776,277261,6,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15777,277321,61,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15778,276844,9,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15779,277003,11,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN

In [30]:
landed_df_short = (
    landed_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
landed_df_short

       postal        premise_type sector_id release_date  total_dwelling
0      415800  LANDED_RESIDENTIAL     CO203   2022-04-30               1
1      415801  LANDED_RESIDENTIAL     CO203   2022-04-30               1
2      415899  LANDED_RESIDENTIAL     CO226   2022-04-30               1
3      416507  LANDED_RESIDENTIAL     CO203   2022-04-30               1
4      416508  LANDED_RESIDENTIAL     CO203   2022-04-30               1
...       ...                 ...       ...          ...             ...
15775  277080  LANDED_RESIDENTIAL      CO92          NaT               1
15776  277261  LANDED_RESIDENTIAL      CO92          NaT               1
15777  277321  LANDED_RESIDENTIAL      CO92          NaT               1
15778  276844  LANDED_RESIDENTIAL      CO92          NaT               1
15779  277003  LANDED_RESIDENTIAL      CO92          NaT               1

[15780 rows x 5 columns]

In [37]:
landed_df.query("Postal == 418934")

,Postal,Block,PremiseType,RO,Constituency,EHISectorID,Sector_ID,StudyArea,ReleaseSiteSincePhase2.2,FirstReleaseDate_Postal,...,FirstReleaseEYEW_Sector,StartRelease_FullSector,StartRelease_SectorAdjusted,TotalDwelling,DATA_TYPE,FirstSustainedReleaseDate_Postal,FirstSustainedReleaseEmonth_Postal,FirstSustainedReleaseEyear.Eweek_Postal,Num_Gravitrap_deployed_2022EW17/18,Remarks
165,418934,14,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
166,418934,14A,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
167,418934,14B,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
168,418934,14C,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN

In [41]:
landed_df_short_agg = landed_df_short.groupby(
    ['postal', 'premise_type', 'sector_id', 'release_date'])['total_dwelling'].sum().reset_index()

In [44]:
insert_data_into_postgresql(landed_df_short_agg, connection)

Data inserted successfully into national_analysis.site_release!

In [45]:
%%sql 

select * from national_analysis.site_release where postal = 418934

 * postgresql://postgres:***@localhost/dengue
1 rows affected.

[(418934, 'CO203', 'LANDED_RESIDENTIAL', datetime.date(2022, 4, 30), 4)]

In [43]:
connection.commit()

In [46]:
rct_df = read_excel_file(os.path.join(release_site_home, "rct.xlsx"))
rct_df["PremiseType"].unique()

array(['HDB_RESIDENTIAL'], dtype=object)

In [48]:
rct_df_short = (
    rct_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
rct_df_short

      postal     premise_type sector_id release_date  total_dwelling
0     360081  HDB_RESIDENTIAL      FL20   2022-07-29             130
1     360082  HDB_RESIDENTIAL      FL20   2022-07-29              94
2     360083  HDB_RESIDENTIAL      FL20   2022-07-29              93
3     370019  HDB_RESIDENTIAL      FL20   2022-07-29             120
4     370020  HDB_RESIDENTIAL      FL20   2022-07-29             120
...      ...              ...       ...          ...             ...
2254  670608  HDB_RESIDENTIAL     FL727          NaT              80
2255  670609  HDB_RESIDENTIAL     FL727          NaT             172
2256  670610  HDB_RESIDENTIAL     FL727          NaT              80
2257  670611  HDB_RESIDENTIAL     FL727          NaT             170
2258  670612  HDB_RESIDENTIAL     FL727          NaT             123

[2259 rows x 5 columns]

In [49]:
insert_data_into_postgresql(rct_df_short, connection)

Data inserted successfully into national_analysis.site_release!

In [50]:
connection.close()

# 2. Climate data

In the paper, only two climate features were used 
* `max_t_scale_12_wk_avg_0`
* `days_no_rain_12_wk_total_0`


There exists two types of files `DBT_RH` which stands for Dry Bulb Temperature (DBT) + Relative Humidity (RH)

In [55]:
! ls /home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/

 forecast
'Weekly DBT_RH 20221226-20230101.csv'
'Weekly DBT_RH 20230102-20230108.csv'
'Weekly DBT_RH 20230109-20230115.csv'
'Weekly DBT_RH 20230116-20230122.csv'
'Weekly DBT_RH 20230123-20230129.csv'
'Weekly DBT_RH 20230130-20230205.csv'
'Weekly DBT_RH 20230206-20230212.csv'
'Weekly DBT_RH 20230213-20230219.csv'
'Weekly DBT_RH 20230220-20230226.csv'
'Weekly DBT_RH 20230227-20230305.csv'
'Weekly DBT_RH 20230306-20230312.csv'
'Weekly DBT_RH 20230313-20230319.csv'
'Weekly DBT_RH 20230320-20230326.csv'
'Weekly DBT_RH 20230327-20230402.csv'
'Weekly DBT_RH 20230403-20230409.csv'
'Weekly DBT_RH 20230410-20230416.csv'
'Weekly DBT_RH 20230417-20230423.csv'
'Weekly DBT_RH 20230424-20230430.csv'
'Weekly DBT_RH 20230501-20230507.csv'
'Weekly DBT_RH 20230508-20230514.csv'
'Weekly DBT_RH 20230515-20230521.csv'
'Weekly DBT_RH 20230522-20230528.csv'
'Weekly DBT_RH 20230529-20230604_amended.csv'
'Weekly DBT_RH 20230605-20230611.csv'
'Weekly DBT_RH 20230612-20230618.csv'
'Weekly DBT_RH 20230619-20230625.csv'
'Weekly DBT_RH 20230626-20230702.csv'
'Weekly DBT_RH 20230703-20230709.csv'
'Weekly DBT_RH 20230710-20230716.csv'
'Weekly DBT_RH 20230717-20230723.csv'
'Weekly DBT_RH 20230724-20230730.csv'
'Weekly DBT_RH 20230731-20230806.csv'
'Weekly DBT_RH 20230807-20230813.csv'
'Weekly DBT_RH 20230814-20230820.csv'
'Weekly DBT_RH 20230821-20230827.csv'
'Weekly DBT_RH 20230828-20230903.csv'
'Weekly DBT_RH 20230904-20230910.csv'
'Weekly DBT_RH 20230911-20230917.csv'
'Weekly DBT_RH 20230918-20230924.csv'
'Weekly DBT_RH 20230925-20231001.csv'
'Weekly DBT_RH 20231002-20231008.csv'
'Weekly DBT_RH 20231009-20231015.csv'
'Weekly DBT_RH 20231016-20231022.csv'
'Weekly DBT_RH 20231023-20231029.csv'
'Weekly DBT_RH 20231030-20231105.csv'
'Weekly DBT_RH 20231106-20231112.csv'
'Weekly DBT_RH 20231113-20231119.csv'
'Weekly DBT_RH 20231120-20231126.csv'
'Weekly DBT_RH 20231127-20231203.csv'
'Weekly DBT_RH 20231204-20231210.csv'
'Weekly DBT_RH 20231211-20231217.csv'
'Weekly DBT_RH 20231218-20231224.csv'
'Weekly DBT_RH 20231225-20231231.csv'
'Weekly Rain 20221226-20230101.csv'
'Weekly Rain 20230102-20230108.csv'
'Weekly Rain 20230109-20230115.csv'
'Weekly Rain 20230116-20230122.csv'
'Weekly Rain 20230123-20230129.csv'
'Weekly Rain 20230130-20230205.csv'
'Weekly Rain 20230206-20230212.csv'
'Weekly Rain 20230213-20230219.csv'
'Weekly Rain 20230220-20230226.csv'
'Weekly Rain 20230227-20230305.csv'
'Weekly Rain 20230306-20230312.csv'
'Weekly Rain 20230313-20230319.csv'
'Weekly Rain 20230320-20230326.csv'
'Weekly Rain 20230327-20230402.csv'
'Weekly Rain 20230403-20230409.csv'
'Weekly Rain 20230410-20230416.csv'
'Weekly Rain 20230417-20230423.csv'
'Weekly Rain 20230424-20230430.csv'
'Weekly Rain 20230501-20230507.csv'
'Weekly Rain 20230508-20230514.csv'
'Weekly Rain 20230515-20230521.csv'
'Weekly Rain 20230522-20230528.csv'
'Weekly Rain 20230529-20230604.csv'
'Weekly Rain 20230605-20230611.csv'
'Weekly Rain 20230612-20230618.csv'
'Weekly Rain 20230619-20230625.csv'
'Weekly Rain 20230626-20230702.csv'
'Weekly Rain 20230703-20230709.csv'
'Weekly Rain 20230710-20230716.csv'
'Weekly Rain 20230717-20230723.csv'
'Weekly Rain 20230724-20230730.csv'
'Weekly Rain 20230731-20230806.csv'
'Weekly Rain 20230807-20230813.csv'
'Weekly Rain 20230814-20230820.csv'
'Weekly Rain 20230821-20230827.csv'
'Weekly Rain 20230828-20230903.csv'
'Weekly Rain 20230904-20230910.csv'
'Weekly Rain 20230911-20230917.csv'
'Weekly Rain 20230918-20230924.csv'
'Weekly Rain 20230925-20231001.csv'
'Weekly Rain 20231002-20231008.csv'
'Weekly Rain 20231009-20231015.csv'
'Weekly Rain 20231016-20231022.csv'
'Weekly Rain 20231023-20231029.csv'
'Weekly Rain 20231030-20231105.csv'
'Weekly Rain 20231106-20231112.csv'
'Weekly Rain 20231113-20231119.csv'
'Weekly Rain 20231120-20231126.csv'
'Weekly Rain 20231127-20231203.csv'
'Weekly Rain 20231204-20231210.csv'
'Weekly Rain 20231211-20231217.csv'
'Weekly Rain 20231218-20231224.csv'
'Weekly Rain 20231225-20231231.csv'

In [11]:
from glob import glob

def read_yearly(root_dir: str):
    csv_files = glob(os.path.join(root_dir, 'Weekly DBT_RH*.csv'))
    print(csv_files)
    return pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

`dbt` - Dry bulb temperature

In [147]:
import pandas as pd
import re

def parse_date_with_filename(date_str, filename):
    """
    Try to parse a date string in either day/month/year or month/day/year format based on the file name's date range.
    Return the parsed date if it falls within the file's date range; otherwise, return pd.NaT.
    """
    # Extract the date range from the file name (e.g., '20230109-20230115')
    match = re.search(r'(\d{8})-(\d{8})', filename)
    
    if match:
        # Extract start and end dates from the file name
        start_date = pd.to_datetime(match.group(1), format='%Y%m%d')
        end_date = pd.to_datetime(match.group(2), format='%Y%m%d')

        # Try parsing the date string with both formats
        try:
            # Try day/month/year format
            date_dmy = pd.to_datetime(date_str, format='%d/%m/%Y')
        except ValueError:
            date_dmy = pd.NaT

        try:
            # Try month/day/year format
            date_mdy = pd.to_datetime(date_str, format='%m/%d/%Y')
        except ValueError:
            date_mdy = pd.NaT

        # Check if either parsed date falls within the start and end dates
        if pd.notna(date_dmy) and start_date <= date_dmy <= end_date:
            return date_dmy.strftime('%Y-%m-%d')  
        elif pd.notna(date_mdy) and start_date <= date_mdy <= end_date:
            return date_mdy.strftime('%Y-%m-%d')  
        else:
            return pd.NaT  # Return NaT if neither date is valid or in range
    else:
        return pd.NaT  # Return NaT if no date range is found in the filename

def read_dbt_rh(root_dir: str):
    # Define the columns you want to standardize and map
    column_mapping = {
        'stationcode': 'station_id',
        'id_station': 'station_id',
        'date': 'date',
        'dateasia/singapore(+0800)': 'date',
        'maxdbt': 'dbt_max',
        'mindbt': 'dbt_min',
        'meandbt': 'dbt_mean',
        'maxrh': 'rh_max',
        'minrh': 'rh_min',
        'meanrh': 'rh_mean'
    }

    # Define standard columns after renaming
    standard_columns = [
        'date', 'station_id', 'dbt_max', 'dbt_min', 'dbt_mean', 'rh_max', 'rh_min', 'rh_mean'
    ]
    
    # Find all CSV files matching the pattern
    csv_files = glob(os.path.join(root_dir, 'Weekly DBT_RH*.csv'))
    # for file in csv_files:
    #     print(file)
    
    # Create an empty list to store DataFrames
    df_list = []
    
    for file in csv_files:
        # Read each CSV file
        df = pd.read_csv(file)
        
        # Normalize column names
        df.columns = [col.strip().lower().replace(" ", "").replace('"', '') for col in df.columns]
        
        # Rename columns based on the new mapping
        df.rename(columns=column_mapping, inplace=True)
        
        # Filter out the columns that match the standard columns
        df_filtered = df[[col for col in standard_columns if col in df.columns]]
        
        # Encode timezone in the 'date' column
        if 'date' in df_filtered.columns:
            df_filtered['date'] = df_filtered['date'].apply(lambda x: parse_date_with_filename(x, file))
            

        # Append the filtered DataFrame to the list
        df_list.append(df_filtered)
    
    # Concatenate all DataFrames into one
    df_final = pd.concat(df_list, ignore_index=True)
    df_final['date'] = pd.to_datetime(df_final['date'], errors='coerce')
    # df_final['date'] = df_final['date'].dt.tz_localize('Asia/Singapore')
    return df_final

In [148]:
df = read_dbt_rh(os.path.join(climate_data_home, 'weather_2023'))
df

/tmp/ipykernel_849965/3914993196.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(lambda x: parse_date_with_filename(x, file))

,date,station_id,dbt_max,dbt_min,dbt_mean,rh_max,rh_min,rh_mean
0,2023-04-24,S102,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-04-24,S109,34.4,26.7,29.7,90.9,47.2,71.3
2,2023-04-24,S60,33.9,25.9,29.5,88.2,48.0,72.8
3,2023-04-24,S116,32.2,27.5,29.3,89.5,55.7,78.4
4,2023-04-24,S44,33.1,23.2,27.8,97.4,55.4,83.0
...,...,...,...,...,...,...,...,...
6652,2023-08-27,S115,31.8,25.8,28.6,86.7,62.3,77.1
6653,2023-08-27,S23,33.1,24.0,28.1,100.0,61.8,84.7
6654,2023-08-27,S104,33.2,24.8,28.4,89.9,56.3,74.0
6655,2023-08-27,S24,32.2,25.3,28.5,92.9,58.4,77.5
6656,2023-08-27,S106,33.4,24.2,28.1,94.1,57.2,79.8

In [126]:
df['date'][0]

Timestamp('2023-04-24 00:00:00+0800', tz='Asia/Singapore')

In [140]:
def read_rainfall_data(root_dir: str):
    # Define the columns you want to standardize and map for rainfall data
    column_mapping = {
        'stationcode': 'station_id',
        'id_station': 'station_id',
        'date': 'date',
        'date.singapore...0800.': 'date',
        'dateasia/singapore(+0800)': 'date',
        'datesingapore(+0800)': 'date',
        'dailyrainamount(mm)': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'totalrain': 'rain_amount',
        'rainamount': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'rainamount': 'rain_amount',
        'dailyrainamount(mm)': 'rain_amount',
        'dailyrainamount': 'rain_amount',
        'dailyrainamount(mm)': 'rain_amount',
        'dailyrainamount': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'rainamount': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'dailyrainamount(mm)': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'totalrain': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
    }

    standard_columns = [
        'date', 'station_id', 'rain_amount', 'rain_duration'
    ]

    # Find all CSV files in the directory
    # Find all CSV files matching the pattern
    csv_files = glob(os.path.join(root_dir, 'Weekly Rain*.csv'))
    
    for file in csv_files:
        if re.search(r"20221226", file):
            print(file)
    
    # Create an empty list to store DataFrames
    df_list = []
    
    for file in csv_files:
        print(file)
        # Read each CSV file
        df = pd.read_csv(file)

        # Normalize column names
        df.columns = [col.strip().lower().replace(" ", "").replace('"', '') for col in df.columns]
        
        # Rename columns based on the new mapping
        df.rename(columns=column_mapping, inplace=True)
        
        # Filter out the columns that match the standard columns
        df_filtered = df[[col for col in standard_columns if col in df.columns]]

        # # Encode timezone in the 'date' column
        if 'date' in df_filtered.columns:
            df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

        # Append the filtered DataFrame to the list
        df_list.append(df_filtered)
        # Concatenate all DataFrames into one
    return pd.concat(df_list, ignore_index=True)

In [141]:
df = read_rainfall_data(os.path.join(climate_data_home, "weather_2023"))
df

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20221226-20230101.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230417-20230423.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230731-20230806.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231016-20231022.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230424-20230430.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230529-20230604.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230220-20230226.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230814-20230820.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230327-20230402.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231002-20231008.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230515-20230521.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230717-20230723.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230605-20230611.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230109-20230115.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230102-20230108.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230410-20230416.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230508-20230514.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231225-20231231.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230626-20230702.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231113-20231119.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20221226-20230101.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230206-20230212.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230904-20230910.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230619-20230625.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230306-20230312.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230130-20230205.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230918-20230924.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231009-20231015.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230213-20230219.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231211-20231217.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230320-20230326.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231120-20231126.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231030-20231105.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230227-20230305.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230522-20230528.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230911-20230917.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231106-20231112.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230828-20230903.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230925-20231001.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230710-20230716.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230403-20230409.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231023-20231029.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231218-20231224.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230313-20230319.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230821-20230827.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230501-20230507.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230116-20230122.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231204-20231210.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230807-20230813.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231127-20231203.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230612-20230618.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230703-20230709.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230123-20230129.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230724-20230730.csv

/tmp/ipykernel_849965/4275496042.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date) # .dt.tz_localize('Asia/Singapore')

             date station_id  rain_amount
0      2023-04-17       S102          NaN
1      2023-04-17        S94          2.0
2      2023-04-17       S215          1.6
3      2023-04-17       S130          5.6
4      2023-04-17        S71          1.6
...           ...        ...          ...
31796  2023-07-30       S303          0.0
31797  2023-07-30        S61          NaN
31798  2023-07-30       S113          0.4
31799  2023-07-30       S106          0.0
31800  2023-07-30       S108          1.4

[31801 rows x 3 columns]

Retry with utils

In [165]:
import re
from contextlib import contextmanager

import pandas as pd
import psycopg2
import toml


def read_excel_file(file_path, sheet_name="Sheet1"):
    # Read the Excel file using pandas
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    return df


def load_db_config(config_file="secrets.toml"):
    config = toml.load(config_file)
    return config["database"]


@contextmanager
def postgres_connection(config_file="secrets.toml"):
    conn = None
    try:
        # Load the database configuration
        config = load_db_config(config_file)

        # Establish the PostgreSQL connection using the config
        conn = psycopg2.connect(
            host=config["host"],
            database=config["dbname"],
            user=config["user"],
            password=config["password"],
            port=config.get("port", 5432),  # Use port 5432 if not specified
        )
        # Provide the connection to the block within 'with'
        yield conn
    except Exception as e:
        print(f"An error occurred: {e}")
        if conn is not None:
            conn.rollback()
    finally:
        # Close the connection
        if conn is not None:
            conn.close()


def parse_date_with_filename(date_str, filename):
    """
    Try to parse a date string in either day/month/year or month/day/year format based on the file name's date range.
    Return the parsed date if it falls within the file's date range; otherwise, return pd.NaT.
    """
    # Extract the date range from the file name (e.g., '20230109-20230115')
    match = re.search(r"(\d{8})-(\d{8})", filename)

    if match:
        # Extract start and end dates from the file name
        start_date = pd.to_datetime(match.group(1), format="%Y%m%d")
        end_date = pd.to_datetime(match.group(2), format="%Y%m%d")

        # Try parsing the date string with both formats
        try:
            # Try day/month/year format
            date_dmy = pd.to_datetime(date_str, format="%d/%m/%Y")
        except ValueError:
            date_dmy = pd.NaT

        try:
            # Try month/day/year format
            date_mdy = pd.to_datetime(date_str, format="%m/%d/%Y")
        except ValueError:
            date_mdy = pd.NaT

        # Check if either parsed date falls within the start and end dates
        if pd.notna(date_dmy) and start_date <= date_dmy <= end_date:
            return date_dmy.strftime("%Y-%m-%d")
        elif pd.notna(date_mdy) and start_date <= date_mdy <= end_date:
            return date_mdy.strftime("%Y-%m-%d")
        else:
            return pd.NaT  # Return NaT if neither date is valid or in range
    else:
        return pd.NaT  # Return NaT if no date range is found in the filename

In [167]:
import argparse
import os
from glob import glob
from typing import List

import numpy as np
import pandas as pd


def standardize(columns: List[str]) -> List[str]:
    """Removes space and lowers."""
    newcols = []
    for col in columns:
        newcols.append(col.strip().lower().replace(" ", "").replace('"', ""))
    return newcols


def read_dbt_rh_2009_2021(data_root: str) -> pd.DataFrame:
    """This function reads temperature data for 2009 to 2021."""
    df = pd.read_csv(os.path.join(data_root, "weather_1982_2021", "Daily DBT 2009-2021.csv"))

    df.columns = standardize(df.columns.tolist())  # type: ignore
    column_mappings = {
        "id_station": "station_id",
        "dateasia/singapore(+0800)": "date",
        "maxdbt": "dbt_max",
        "mindbt": "dbt_min",
        "meandbt": "dbt_mean",
        "meanrh": "rh_mean",
    }
    df.rename(columns=column_mappings, inplace=True)

    expected_columns = ["rh_max", "rh_min", "rh_mean"]
    for col in expected_columns:
        if col not in df.columns:
            df[col] = np.nan

    df["date"] = pd.to_datetime(df["date"], format="%d/%m/%Y")
    return df


def read_dbt_rh_2022(data_root: str) -> pd.DataFrame:
    """This function reads temperature data for 2022."""
    snake_case_names = [
        "station_id",
        "year",
        "month",
        "day",
        "dbt_mean",
        "rh_mean",
        "dbt_max",
        "dbt_min",
        "wind_direction_scalar_mean",
        "wind_speed_scalar_kts_mean",
        "wind_direction_max",
        "wind_speed_kts_max",
    ]
    params = {
        "skiprows": 1,
        "names": snake_case_names,
        "encoding":"ISO-8859-1",
        "usecols": snake_case_names[:8]
    }
    df = pd.concat([
        pd.read_csv(os.path.join(data_root, "weather_2022", "Temp 2022.csv"), **params),
        pd.read_csv(os.path.join(data_root, "weather_2022", "Temp 202206.csv"), **params) 
    ], ignore_index=True)

    expected_columns = ["rh_max", "rh_min", "rh_mean"]

    for col in expected_columns:
        if col not in df.columns:
            df[col] = np.nan

    df["date"] = pd.to_datetime(df[["year", "month", "day"]])
    df.drop(columns=["year", "month", "day"], inplace=True)
    return df


def read_dbt_rh_2023_2024(data_dir: str, year: str) -> pd.DataFrame:
    """This function reads temperature data for 2023."""
    column_mapping = {
        "stationcode": "station_id",
        "id_station": "station_id",
        "date": "date",
        "dateasia/singapore(+0800)": "date",
        "maxdbt": "dbt_max",
        "mindbt": "dbt_min",
        "meandbt": "dbt_mean",
        "maxrh": "rh_max",
        "minrh": "rh_min",
        "meanrh": "rh_mean",
    }

    standard_columns = [
        "date",
        "station_id",
        "dbt_max",
        "dbt_min",
        "dbt_mean",
        "rh_max",
        "rh_min",
        "rh_mean",
    ]

    csv_files = glob(os.path.join(data_dir, year, "Weekly DBT_RH*.csv"))
    df_list = []

    for file in csv_files:
        df = pd.read_csv(file)
        df.columns = standardize(df.columns.tolist())  # type: ignore
        df.rename(columns=column_mapping, inplace=True)
        df_filtered = df[[col for col in standard_columns if col in df.columns]]
        if "date" in df_filtered.columns:
            df_filtered["date"] = df_filtered["date"].apply(
                lambda x: parse_date_with_filename(x, file)  # pylint: disable=W0640
            )
        df_list.append(df_filtered)

    df_final = pd.concat(df_list, ignore_index=True)
    df_final["date"] = pd.to_datetime(df_final["date"], errors="coerce")
    return df_final

'/home/wesley/github/etheleon/national_analysis/data/climate/'

In [173]:
    df = pd.concat(
        [
            # read_dbt_rh_2009_2021(climate_data_home),
            read_dbt_rh_2022(climate_data_home),
            # read_dbt_rh_2023_2024(climate_data_home, "weather_2023"),
            # read_dbt_rh_2023_2024(climate_data_home, "weather_2024"),
        ],
        ignore_index=True,
    )

In [174]:
df

,station_id,dbt_mean,rh_mean,dbt_max,dbt_min,rh_max,rh_min,date
0,S06,25.8,87.5,31.0,23.4,NaN,NaN,2022-01-01
1,S06,24.0,96.4,24.9,23.2,NaN,NaN,2022-01-02
2,S06,26.1,84.8,31.6,23.4,NaN,NaN,2022-01-03
3,S06,26.2,87.0,32.4,24.1,NaN,NaN,2022-01-04
4,S06,28.1,75.3,34.3,25.2,NaN,NaN,2022-01-05
...,...,...,...,...,...,...,...,...
3464,S80,28.2,85.0,33.0,24.3,NaN,NaN,2022-06-26
3465,S80,28.3,83.6,33.3,24.6,NaN,NaN,2022-06-27
3466,S80,26.6,91.9,33.2,24.2,NaN,NaN,2022-06-28
3467,S80,28.0,82.0,32.6,23.5,NaN,NaN,2022-06-29
3468,S80,26.9,83.8,30.3,23.9,NaN,NaN,2022-06-30

In [175]:
df.query("date > '2022-06-01'")

,station_id,dbt_mean,rh_mean,dbt_max,dbt_min,rh_max,rh_min,date
2870,S06,28.3,77.8,32.9,26.1,NaN,NaN,2022-06-02
2871,S06,27.4,82.7,30.7,24.1,NaN,NaN,2022-06-03
2872,S06,28.3,77.3,32.4,23.5,NaN,NaN,2022-06-04
2873,S06,27.8,81.7,32.6,25.3,NaN,NaN,2022-06-05
2874,S06,28.3,78.8,31.4,23.8,NaN,NaN,2022-06-06
...,...,...,...,...,...,...,...,...
3464,S80,28.2,85.0,33.0,24.3,NaN,NaN,2022-06-26
3465,S80,28.3,83.6,33.3,24.6,NaN,NaN,2022-06-27
3466,S80,26.6,91.9,33.2,24.2,NaN,NaN,2022-06-28
3467,S80,28.0,82.0,32.6,23.5,NaN,NaN,2022-06-29
3468,S80,26.9,83.8,30.3,23.9,NaN,NaN,2022-06-30

## 2022-2024

### Rainfall

In [ ]:
rainfall_df =

### Temperature

1982 - 2021

In [142]:
temperature_2009_2021_df = pd.read_csv(os.path.join(climate_data_home, "weather_1982_2021", "Daily DBT 2009-2021.csv"))
temperature_2009_2021_df.columns = [col.strip().lower().replace(" ", "").replace('"', '') for col in temperature_2009_2021_df.columns]
temperature_2009_2021_df.rename(columns=  {
        
        'id_station': 'station_id',
        
        'dateasia/singapore(+0800)': 'date',
        'maxdbt': 'dbt_max',
        'mindbt': 'dbt_min',
        'meandbt': 'dbt_mean',
        'meanrh': 'rh_mean'
    }, inplace=True)

expected_columns = ['rh_max', 'rh_min', 'rh_mean']

# Check if each column exists in the DataFrame, and if not, add it with NaN values
for col in expected_columns:
    if col not in temperature_2009_2021_df.columns:
        temperature_2009_2021_df[col] = np.nan


temperature_2009_2021_df['date'] = pd.to_datetime(temperature_2009_2021_df['date'], format='%d/%m/%Y') # .dt.tz_localize('Asia/Singapore')

In [145]:
temperature_2009_2021_df['date']

0        2009-02-01
1        2009-02-02
2        2009-02-03
3        2009-02-04
4        2009-02-05
            ...
137413   2021-12-27
137414   2021-12-28
137415   2021-12-29
137416   2021-12-30
137417   2021-12-31
Name: date, Length: 137418, dtype: datetime64[ns]

2022 is slightly different

In [143]:
# Define the column names with max, min, and mean as suffixes
snake_case_names = [
    "station", "year", "month", "day", "dbt_mean",
    "rh_mean", "dbt_max", "dbt_min",
    "wind_direction_scalar_mean", "wind_speed_scalar_kts_mean",
    "wind_direction_max", "wind_speed_kts_max"
]

# Read the CSV file, skipping the first row and using the custom column names
temperature_2022_df = pd.read_csv("/home/wesley/github/etheleon/national_analysis/data/climate/weather_2022/Temp 2022.csv", skiprows=1, names=snake_case_names, encoding='ISO-8859-1').loc[:, :"dbt_min"]

expected_columns = ['rh_max', 'rh_min', 'rh_mean']

# Check if each column exists in the DataFrame, and if not, add it with NaN values
for col in expected_columns:
    if col not in temperature_2022_df.columns:
        temperature_2022_df[col] = np.nan

temperature_2022_df.rename(columns={'station': 'station_id'}, inplace=True)


# Combine year, month, and day into a single date column
temperature_2022_df['date'] = pd.to_datetime(temperature_2022_df[['year', 'month', 'day']])
temperature_2022_df.drop(columns=['year', 'month', 'day'], inplace=True)
temperature_2022_df['date'] = temperature_2022_df['date'] # .dt.tz_localize('Asia/Singapore')

In [144]:
temperature_2022_df['date']

0      2022-01-01
1      2022-01-02
2      2022-01-03
3      2022-01-04
4      2022-01-05
          ...
2864   2022-05-27
2865   2022-05-28
2866   2022-05-29
2867   2022-05-30
2868   2022-05-31
Name: date, Length: 2869, dtype: datetime64[ns]

In [146]:
read_dbt_rh(os.path.join(climate_data_home, 'weather_2023'))['date']

/tmp/ipykernel_849965/3688271409.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(lambda x: parse_date_with_filename(x, file))

0      2023-04-24 00:00:00+08:00
1      2023-04-24 00:00:00+08:00
2      2023-04-24 00:00:00+08:00
3      2023-04-24 00:00:00+08:00
4      2023-04-24 00:00:00+08:00
                  ...
6652   2023-08-27 00:00:00+08:00
6653   2023-08-27 00:00:00+08:00
6654   2023-08-27 00:00:00+08:00
6655   2023-08-27 00:00:00+08:00
6656   2023-08-27 00:00:00+08:00
Name: date, Length: 6657, dtype: datetime64[ns, Asia/Singapore]

In [149]:
temperature_df = pd.concat([
    temperature_2009_2021_df,
    temperature_2022_df,
    read_dbt_rh(os.path.join(climate_data_home, 'weather_2023')),
    read_dbt_rh(os.path.join(climate_data_home, 'weather_2024')),
],     ignore_index=True)

/tmp/ipykernel_849965/3914993196.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(lambda x: parse_date_with_filename(x, file))
/tmp/ipykernel_849965/3914993196.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(lambda x: parse_date_with_filename(x, file))

In [150]:
temperature_df

,date,station_id,dbt_max,dbt_min,dbt_mean,rh_mean,rh_max,rh_min
0,2009-02-01,S102,28.8,26.0,27.1,74.6,NaN,NaN
1,2009-02-02,S102,30.4,25.0,27.1,72.6,NaN,NaN
2,2009-02-03,S102,29.5,25.0,26.6,77.3,NaN,NaN
3,2009-02-04,S102,29.6,24.9,26.5,79.6,NaN,NaN
4,2009-02-05,S102,30.0,25.2,27.0,77.9,NaN,NaN
...,...,...,...,...,...,...,...,...
151360,2024-04-21,S115,32.6,28.3,29.8,75.0,83.0,63.0
151361,2024-04-21,S23,NaN,NaN,NaN,NaN,NaN,NaN
151362,2024-04-21,S104,35.7,25.6,28.6,88.0,99.0,51.0
151363,2024-04-21,S24,33.6,26.8,29.1,79.0,91.0,57.0
151364,2024-04-21,S106,34.3,25.7,28.2,91.0,99.0,61.0

In [153]:
def insert_temp_data_into_postgresql(df, connection):
    cursor = connection.cursor()

    # Prepare the INSERT query
    insert_query = """
    INSERT INTO national_analysis.temperature
    (station_id, date, dbt_max, dbt_min, dbt_mean, rh_max, rh_min, rh_mean)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """

    # Iterate over the rows in the DataFrame and insert them into the table
    for index, row in df.iterrows():
        cursor.execute(insert_query, (
            row['station_id'],
            row['date'],
            row['dbt_max'],
            row['dbt_min'],
            row['dbt_mean'],
            row['rh_max'],
            row['rh_min'],
            row['rh_mean']
        ))


    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into national_analysis.temperature!")

In [159]:
df_cleaned = temperature_df.dropna(subset=['date'])

In [164]:
insert_temp_data_into_postgresql(df_cleaned, connection)

Data inserted successfully into national_analysis.temperature!

In [161]:
connection.commit()

## Historical

In [201]:
ddl_file = "/home/wesley/github/etheleon/national_analysis/tables/create_rainfall_table.sql"

In [202]:

    with open(ddl_file, "r", encoding="UTF-8") as ddl:
        create_table_query = ddl.read()

In [203]:
create_table_query

"CREATE TABLE IF NOT EXISTS national_analysis.rainfall (\n    station_id VARCHAR(10) NOT NULL,\n    date DATE NOT NULL,\n    rainfall_amt_total FLOAT,\n    rainfall_duration_min FLOAT,\n    PRIMARY KEY (station_id, date)\n);\n\nCOMMENT ON TABLE national_analysis.rainfall IS 'This table stores the total rainfall and duration of rainfall for different stations on different dates.';\n\nCOMMENT ON COLUMN national_analysis.rainfall.station_id IS 'Unique identifier for each weather station.';\nCOMMENT ON COLUMN national_analysis.rainfall.date IS 'Date of the recorded rainfall event.';\nCOMMENT ON COLUMN national_analysis.rainfall.rainfall_amt_total IS 'Total rainfall amount measured in millimeters for the day.';\nCOMMENT ON COLUMN national_analysis.rainfall.rainfall_duration_min IS 'Total rainfall duration in minutes for the day.';"

In [179]:
@contextmanager
def postgres_connection(config_file=".secrets.toml"):
    conn = None
    try:
        cfg = load_db_config(config_file)
        connection_string = "postgresql+psycopg2://{}:{}@{}:5432/{}".format(
            cfg["user"],
            cfg["passwd"],
            cfg["host"],
            cfg["dbname"],
        )
        engine = create_engine(connection_string)
        yield engine
    except Exception as e:
        print(f"An error occurred: {e}")
        if conn is not None:
            conn.rollback()
    finally:
        if conn is not None:
            conn.close()

In [204]:
    sql_statements = create_table_query.split(";")

In [205]:
statement = sql_statements[0]

In [212]:
statement = """
CREATE TABLE IF NOT EXISTS national_analysis.rainfall (
    station_id VARCHAR(10) NOT NULL, -- Unique identifier for the weather station
    date DATE NOT NULL, -- Date of the rainfall measurement
    rainfall_amt_total FLOAT, -- Total rainfall amount in millimeters
    rainfall_duration_min FLOAT, -- Duration of the rainfall in minutes
    PRIMARY KEY (station_id, date) -- Composite primary key on station and date
);
"""

In [183]:
from sqlalchemy import text

In [221]:
test_query = """
CREATE TABLE IF NOT EXISTS national_analysis.rainfall (
    station_id VARCHAR(10) NOT NULL, -- Unique identifier for the weather station
    date DATE NOT NULL, -- Date of the rainfall measurement
    rainfall_amt_total FLOAT, -- Total rainfall amount in millimeters
    rainfall_duration_min FLOAT, -- Duration of the rainfall in minutes
    PRIMARY KEY (station_id, date) -- Composite primary key on station and date
);
"""

In [223]:
with postgres_connection("/home/wesley/github/etheleon/national_analysis/.secrets.toml") as engine:
    with engine.connect() as connection:
        connection.execute(text(statement))
        connection.commit()

In [200]:
current_db

[('public',),
 ('national_analysis',),
 ('information_schema',),
 ('pg_catalog',),
 ('pg_toast',)]

In [ ]:

    sql_statements = create_table_query.split(";")

    # Create the table using the DDL
    with postgres_connection(connection_params_path) as engine:
        with engine.connect() as connection:
            try:
                # Execute each SQL statement individually
                for statement in sql_statements:
                    statement = statement.strip()  # Remove leading/trailing whitespace
                    if statement:  # Skip empty statements
                        print(statement)
                        connection.execute(text(statement))
            except Exception as e:
                print(f"An error occurred while executing SQL: {e}")

# Dengue cases

In [ ]:
proj_root_dir = "/home/wesley/Dengue/"
shapefiles_dir = "Shapefiles for EHI"

In [225]:
! ls /home/wesley/Dengue/Shapefiles\ for\ EHI

Cluster_Locallities_Active.cpg	    Confirmed_Cluster.cpg      DF_Cases.cpg
Cluster_Locallities_Active.dbf	    Confirmed_Cluster.dbf      DF_Cases.dbf
Cluster_Locallities_Active.prj	    Confirmed_Cluster.prj      DF_Cases.prj
Cluster_Locallities_Active.sbn	    Confirmed_Cluster.sbn      DF_Cases.sbn
Cluster_Locallities_Active.sbx	    Confirmed_Cluster.sbx      DF_Cases.sbx
Cluster_Locallities_Active.shp	    Confirmed_Cluster.shp      DF_Cases.shp
Cluster_Locallities_Active.shp.xml  Confirmed_Cluster.shp.xml  DF_Cases.shp.xml
Cluster_Locallities_Active.shx	    Confirmed_Cluster.shx      DF_Cases.shx

In [226]:
! pip install geopandas

Collecting geopandas
  Downloading geopandas-1.0.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.22 in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from geopandas) (1.26.4)
Collecting pyogrio>=0.7.2 (from geopandas)
  Downloading pyogrio-0.10.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Requirement already satisfied: packaging in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=1.4.0 in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from geopandas) (2.2.2)
Collecting pyproj>=3.3.0 (from geopandas)
  Downloading pyproj-3.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (31 kB)
Collecting shapely>=2.0.0 (from geopandas)
  Downloading shapely-2.0.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.0 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from pyogrio>=0.7.2->geopandas) (2024.8.30)
Requirement already satisfied: six>=1.5 in /home/wesley/anaconda3/envs/dengue/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)
Downloading geopandas-1.0.1-py3-none-any.whl (323 kB)
Downloading pyogrio-0.10.0-cp312-cp312-manylinux_2_28_x86_64.whl (24.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.0/24.0 MB 12.2 MB/s eta 0:00:0031m12.6 MB/s eta 0:00:01
Downloading pyproj-3.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 12.8 MB/s eta 0:00:0031m13.6 MB/s eta 0:00:01
Downloading shapely-2.0.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 11.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Installing collected packages: shapely, pyproj, pyogrio, geopandas
Successfully installed geopandas-1.0.1 pyogrio-0.10.0 pyproj-3.6.1 shapely-2.0.6

In [227]:
import geopandas as gpd

In [228]:
import os

In [229]:
os.chdir("/home/wesley/Dengue/Shapefiles for EHI/")

In [230]:
cluster_localities_gdf = gpd.read_file('Cluster_Locallities_Active.shp')
confirmed_cluster_gdf = gpd.read_file('Confirmed_Cluster.shp')
df_cases_gdf = gpd.read_file('DF_Cases.shp')

In [240]:
df_cases_gdf.SEROTYPE.unique()

array(['2', None, '3', '4', '1', '1, 2', '1, 4', '3, 4', '2, 4'],
      dtype=object)

In [231]:
df_cases_gdf

,EWEEK,MONTH_,CASE_ID,RESIDENTIA,POSTAL,LEVEL_,NOTIFY_DAT,ONSET_DATE,DF_STATUS,PROINFAREA,SEROTYPE,CLUSTER_ID,SIZE_,YEAR_,NEA_ONSET_,geometry
0,32,8,DENF-2024-011098,2,085101,37,2024-08-06,2024-08-06,Indigenous,None,2,20241310,2,2024,2024-08-06,POINT (28850.749 28922.695)
1,32,8,DENF-2024-011086,1,439866,06,2024-08-06,2024-08-06,Indigenous,None,None,20241264,2,2024,2024-08-06,POINT (35290.75 31334.558)
2,32,8,DENF-2024-011092,1,431008,05,2024-08-06,2024-08-04,Indigenous,FL13,2,20241235,4,2024,2024-08-04,POINT (33549.087 31664.813)
3,32,8,DENF-2024-011089,1,383115,04,2024-08-06,2024-08-01,Indigenous,None,3,20241261,5,2024,2024-08-02,POINT (32426.683 32670.852)
4,32,8,DENF-2024-011110,1,381003,11,2024-08-06,2024-07-30,Indigenous,None,None,0,0,2024,2024-07-30,POINT (32347.248 32901.991)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11585,36,9,DENF-2024-011914,1,680103,07,2024-09-03,2024-09-03,Indigenous,FL826,None,0,0,2024,2024-09-03,POINT (19123.415 39901.789)
11586,36,9,DENF-2024-011925,2,788545,None,2024-09-03,2024-08-31,Indigenous,None,None,0,0,2024,2024-08-31,POINT (27612.556 40319.174)
11587,36,9,DENF-2024-011912,1,730339,03,2024-09-03,2024-09-03,Indigenous,None,None,0,0,2024,2024-09-03,POINT (22244.757 45858.775)
11588,36,9,DENF-2024-011909,1,730514,12,2024-09-04,2024-09-03,Indigenous,None,None,0,0,2024,2024-09-03,POINT (23142.86 46256.101)
11589,36,9,DENF-2024-011920,1,730869,04,2024-09-03,2024-09-03,Indigenous,FL246,None,0,0,2024,2024-09-03,POINT (23623.684 47140.309)

In [234]:
df_cases_gdf.SIZE_.max()

412

In [236]:
df_cases_gdf.query("SIZE_ == 412"))

412

In [ ]:
coi = ["CASE_ID", "CLUSTER_ID", "NEA_ONSET_", "SEROTYPE", "RESIDENTIA", "POSTAL"]

column_mapping = {
    "CASE_ID": "case_id",         # Rename CASE_ID to case_id
    "CLUSTER_ID": "cluster_id",   # Rename CLUSTER_ID to cluster_id
    "NEA_ONSET_": "date",         # Rename NEA_ONSET_ to date
    "SEROTYPE": "serotype",       # Rename SEROTYPE to serotype
    "RESIDENTIA": "residential",  # Rename RESIDENTIA to residential
    "POSTAL": "postal"            # Rename POSTAL to postal
}


df_cases = df_cases_gdf.loc[:, coi].rename(columns=column_mapping)


df_cases['cluster_id'] = df_cases['cluster_id'].replace('0', np.nan)

# df_cases.query("case_id == 'DENF-2024-011914'")

df_cases['serotype'] = df_cases['serotype'].apply(
    lambda x: [int(s.strip()) for s in x.split(',')] if isinstance(x, str) else []
)

In [281]:
import pandas as pd
from psycopg2 import sql

def insert_data_into_postgresql(df, connection):
    cursor = connection.cursor()

    insert_query = sql.SQL("""
        INSERT INTO national_analysis.dengue_fever_cases (
            case_id, postal, cluster_id, residential, date, serotype
        ) VALUES (%s, %s, %s, %s, %s, %s)
    """)

    # Iterate over the rows in the DataFrame and insert them into the table
    for index, row in df.iterrows():
        cursor.execute(insert_query, (
            row['case_id'],                                   # Case ID (as a string or formatted value)
            row['postal'],                                    # Postal code as string (or integer if needed)
            int(row['cluster_id']) if pd.notnull(row['cluster_id']) else None,  # Handle cluster_id and convert to int
            row['residential'],                               # Residential field as string
            row['date'] if pd.notnull(row['date']) else None, # Handle NA dates
            row['serotype']                                   # Serotype should be passed as a list of integers or strings
        ))

    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into national_analysis.df_cases!")

In [282]:
insert_data_into_postgresql(df_cases, connection)

Data inserted successfully into national_analysis.df_cases!

In [279]:
connection.close()