# Coverage data

## Initialisation

In [ ]:
from sqlalchemy import create_engine

import os

import pandas as pd
import psycopg2
from psycopg2 import sql

# Function to read the Excel file
def read_excel_file(file_path):
    # Read the Excel file using pandas
    df = pd.read_excel(file_path, sheet_name='Sheet1')
    return df

In [3]:
def insert_data_into_postgresql(df, connection):
    cursor = connection.cursor()

    # Prepare the INSERT query
    insert_query = sql.SQL("""
        INSERT INTO national_analysis.site_release (
            postal, sector_id, premise_type, release_date, total_dwelling
        ) VALUES (%s, %s, %s, %s, %s)
    """)

    # Iterate over the rows in the DataFrame and insert them into the table
    for index, row in df.iterrows():
        cursor.execute(insert_query, (
            int(row['postal']),
            row['sector_id'],
            row['premise_type'],
            row['release_date'] if pd.notnull(row['release_date']) else None,  # Handle NA dates
            int(row['total_dwelling']) if pd.notnull(row['total_dwelling']) else None
        ))

    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into national_analysis.site_release!")

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql postgresql://postgres:<redacted>@localhost/dengue

In [8]:
release_site_home = "/home/wesley/github/etheleon/national_analysis/data/release_site"

In [9]:
! ls $release_site_home

hdb.xlsx  landed.xlsx  rct.xlsx

In [25]:
db_params = {
    'dbname': 'dengue',
    'user': 'postgres',
    'password': '<redacted>',
    'host': 'localhost',
    'port': '5432'
}

connection = psycopg2.connect(**db_params)

## HDB data

In [10]:
hdb_df = read_excel_file(os.path.join(release_site_home, "hdb.xlsx"))
hdb_df["PremiseType"].unique()

array(['HDB_RESIDENTIAL'], dtype=object)

In [11]:
hdb_df_short = (
    hdb_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
hdb_df_short

      postal     premise_type sector_id release_date  total_dwelling
0     520103  HDB_RESIDENTIAL     FL332   2020-02-17             126
1     520104  HDB_RESIDENTIAL     FL332   2020-02-17             119
2     520140  HDB_RESIDENTIAL     FL306   2019-11-04             114
3     520143  HDB_RESIDENTIAL     FL306   2019-11-04              80
4     520202  HDB_RESIDENTIAL     FL119   2020-02-17             140
...      ...              ...       ...          ...             ...
2777  391092  HDB_RESIDENTIAL     FL848   2024-02-28             180
2778  392091  HDB_RESIDENTIAL     FL848   2024-02-28             182
2779  391091  HDB_RESIDENTIAL     FL848   2024-02-28             201
2780  391090  HDB_RESIDENTIAL     FL848   2024-02-28             204
2781  392090  HDB_RESIDENTIAL     FL848   2024-02-28             187

[2782 rows x 5 columns]

In [26]:
insert_data_into_postgresql(hdb_df_short, connection)

Data inserted successfully into national_analysis.site_release!

In [84]:
# connection.close()

There are sites where wolbachia has never been released before

In [33]:
%%sql 

select * from national_analysis.site_release where postal = 681801

 * postgresql://postgres:***@localhost/dengue
1 rows affected.

[(681801, 'FL767', 'HDB_RESIDENTIAL', None, 96)]

## Landed data

In [28]:
landed_df = read_excel_file(os.path.join(release_site_home, "landed.xlsx"))
landed_df["PremiseType"].unique()

array(['LANDED_RESIDENTIAL'], dtype=object)

In [29]:
landed_df

,Postal,Block,PremiseType,RO,Constituency,EHISectorID,Sector_ID,StudyArea,ReleaseSiteSincePhase2.2,FirstReleaseDate_Postal,...,FirstReleaseEYEW_Sector,StartRelease_FullSector,StartRelease_SectorAdjusted,TotalDwelling,DATA_TYPE,FirstSustainedReleaseDate_Postal,FirstSustainedReleaseEmonth_Postal,FirstSustainedReleaseEyear.Eweek_Postal,Num_Gravitrap_deployed_2022EW17/18,Remarks
0,415800,14A,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
1,415801,14B,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
2,415899,396,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO226,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
3,416507,1,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
4,416508,2,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15775,277080,20,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15776,277261,6,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15777,277321,61,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15778,276844,9,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15779,277003,11,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN

In [30]:
landed_df_short = (
    landed_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
landed_df_short

       postal        premise_type sector_id release_date  total_dwelling
0      415800  LANDED_RESIDENTIAL     CO203   2022-04-30               1
1      415801  LANDED_RESIDENTIAL     CO203   2022-04-30               1
2      415899  LANDED_RESIDENTIAL     CO226   2022-04-30               1
3      416507  LANDED_RESIDENTIAL     CO203   2022-04-30               1
4      416508  LANDED_RESIDENTIAL     CO203   2022-04-30               1
...       ...                 ...       ...          ...             ...
15775  277080  LANDED_RESIDENTIAL      CO92          NaT               1
15776  277261  LANDED_RESIDENTIAL      CO92          NaT               1
15777  277321  LANDED_RESIDENTIAL      CO92          NaT               1
15778  276844  LANDED_RESIDENTIAL      CO92          NaT               1
15779  277003  LANDED_RESIDENTIAL      CO92          NaT               1

[15780 rows x 5 columns]

In [37]:
landed_df.query("Postal == 418934")

,Postal,Block,PremiseType,RO,Constituency,EHISectorID,Sector_ID,StudyArea,ReleaseSiteSincePhase2.2,FirstReleaseDate_Postal,...,FirstReleaseEYEW_Sector,StartRelease_FullSector,StartRelease_SectorAdjusted,TotalDwelling,DATA_TYPE,FirstSustainedReleaseDate_Postal,FirstSustainedReleaseEmonth_Postal,FirstSustainedReleaseEyear.Eweek_Postal,Num_Gravitrap_deployed_2022EW17/18,Remarks
165,418934,14,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
166,418934,14A,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
167,418934,14B,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
168,418934,14C,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN

In [41]:
landed_df_short_agg = landed_df_short.groupby(
    ['postal', 'premise_type', 'sector_id', 'release_date'])['total_dwelling'].sum().reset_index()

In [44]:
insert_data_into_postgresql(landed_df_short_agg, connection)

Data inserted successfully into national_analysis.site_release!

In [45]:
%%sql 

select * from national_analysis.site_release where postal = 418934

 * postgresql://postgres:***@localhost/dengue
1 rows affected.

[(418934, 'CO203', 'LANDED_RESIDENTIAL', datetime.date(2022, 4, 30), 4)]

In [43]:
connection.commit()

In [46]:
rct_df = read_excel_file(os.path.join(release_site_home, "rct.xlsx"))
rct_df["PremiseType"].unique()

array(['HDB_RESIDENTIAL'], dtype=object)

In [48]:
rct_df_short = (
    rct_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
rct_df_short

      postal     premise_type sector_id release_date  total_dwelling
0     360081  HDB_RESIDENTIAL      FL20   2022-07-29             130
1     360082  HDB_RESIDENTIAL      FL20   2022-07-29              94
2     360083  HDB_RESIDENTIAL      FL20   2022-07-29              93
3     370019  HDB_RESIDENTIAL      FL20   2022-07-29             120
4     370020  HDB_RESIDENTIAL      FL20   2022-07-29             120
...      ...              ...       ...          ...             ...
2254  670608  HDB_RESIDENTIAL     FL727          NaT              80
2255  670609  HDB_RESIDENTIAL     FL727          NaT             172
2256  670610  HDB_RESIDENTIAL     FL727          NaT              80
2257  670611  HDB_RESIDENTIAL     FL727          NaT             170
2258  670612  HDB_RESIDENTIAL     FL727          NaT             123

[2259 rows x 5 columns]

In [49]:
insert_data_into_postgresql(rct_df_short, connection)

Data inserted successfully into national_analysis.site_release!

In [50]:
connection.close()