In [ ]:
# Injest Data

# 1. Coverage data

## Initialisation

In [18]:
from sqlalchemy import create_engine

import os

import pandas as pd
import psycopg2
from psycopg2 import sql

# Function to read the Excel file
def read_excel_file(file_path):
    # Read the Excel file using pandas
    df = pd.read_excel(file_path, sheet_name='Sheet1')
    return df

import numpy as np

import re

from glob import glob

In [14]:
climate_data_home = "/home/wesley/github/etheleon/national_analysis/data/climate/"

In [ ]:
%load_ext sql
%sql postgresql://postgres:<redacted>@localhost/dengue

In [3]:
def insert_data_into_postgresql(df, connection):
    cursor = connection.cursor()

    # Prepare the INSERT query
    insert_query = sql.SQL("""
        INSERT INTO national_analysis.site_release (
            postal, sector_id, premise_type, release_date, total_dwelling
        ) VALUES (%s, %s, %s, %s, %s)
    """)

    # Iterate over the rows in the DataFrame and insert them into the table
    for index, row in df.iterrows():
        cursor.execute(insert_query, (
            int(row['postal']),
            row['sector_id'],
            row['premise_type'],
            row['release_date'] if pd.notnull(row['release_date']) else None,  # Handle NA dates
            int(row['total_dwelling']) if pd.notnull(row['total_dwelling']) else None
        ))

    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into national_analysis.site_release!")

In [8]:
release_site_home = "/home/wesley/github/etheleon/national_analysis/data/release_site"

In [9]:
! ls $release_site_home

hdb.xlsx  landed.xlsx  rct.xlsx

In [25]:
db_params = {
    'dbname': 'dengue',
    'user': 'postgres',
    'password': '<redacted>',
    'host': 'localhost',
    'port': '5432'
}

connection = psycopg2.connect(**db_params)

## HDB data

In [10]:
hdb_df = read_excel_file(os.path.join(release_site_home, "hdb.xlsx"))
hdb_df["PremiseType"].unique()

array(['HDB_RESIDENTIAL'], dtype=object)

In [11]:
hdb_df_short = (
    hdb_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
hdb_df_short

      postal     premise_type sector_id release_date  total_dwelling
0     520103  HDB_RESIDENTIAL     FL332   2020-02-17             126
1     520104  HDB_RESIDENTIAL     FL332   2020-02-17             119
2     520140  HDB_RESIDENTIAL     FL306   2019-11-04             114
3     520143  HDB_RESIDENTIAL     FL306   2019-11-04              80
4     520202  HDB_RESIDENTIAL     FL119   2020-02-17             140
...      ...              ...       ...          ...             ...
2777  391092  HDB_RESIDENTIAL     FL848   2024-02-28             180
2778  392091  HDB_RESIDENTIAL     FL848   2024-02-28             182
2779  391091  HDB_RESIDENTIAL     FL848   2024-02-28             201
2780  391090  HDB_RESIDENTIAL     FL848   2024-02-28             204
2781  392090  HDB_RESIDENTIAL     FL848   2024-02-28             187

[2782 rows x 5 columns]

In [26]:
insert_data_into_postgresql(hdb_df_short, connection)

Data inserted successfully into national_analysis.site_release!

In [84]:
# connection.close()

There are sites where wolbachia has never been released before

In [33]:
%%sql 

select * from national_analysis.site_release where postal = 681801

 * postgresql://postgres:***@localhost/dengue
1 rows affected.

[(681801, 'FL767', 'HDB_RESIDENTIAL', None, 96)]

## Landed data

In [28]:
landed_df = read_excel_file(os.path.join(release_site_home, "landed.xlsx"))
landed_df["PremiseType"].unique()

array(['LANDED_RESIDENTIAL'], dtype=object)

In [29]:
landed_df

,Postal,Block,PremiseType,RO,Constituency,EHISectorID,Sector_ID,StudyArea,ReleaseSiteSincePhase2.2,FirstReleaseDate_Postal,...,FirstReleaseEYEW_Sector,StartRelease_FullSector,StartRelease_SectorAdjusted,TotalDwelling,DATA_TYPE,FirstSustainedReleaseDate_Postal,FirstSustainedReleaseEmonth_Postal,FirstSustainedReleaseEyear.Eweek_Postal,Num_Gravitrap_deployed_2022EW17/18,Remarks
0,415800,14A,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
1,415801,14B,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
2,415899,396,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO226,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
3,416507,1,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
4,416508,2,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15775,277080,20,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15776,277261,6,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15777,277321,61,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15778,276844,9,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN
15779,277003,11,LANDED_RESIDENTIAL,NWRO,Ulu Pandan,NaN,CO92,Holland_landed,Holland_landed_2024EW08_Feb,NaT,...,NaN,NaN,NaN,1,extg,NaT,NaN,NaN,NaN,NaN

In [30]:
landed_df_short = (
    landed_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
landed_df_short

       postal        premise_type sector_id release_date  total_dwelling
0      415800  LANDED_RESIDENTIAL     CO203   2022-04-30               1
1      415801  LANDED_RESIDENTIAL     CO203   2022-04-30               1
2      415899  LANDED_RESIDENTIAL     CO226   2022-04-30               1
3      416507  LANDED_RESIDENTIAL     CO203   2022-04-30               1
4      416508  LANDED_RESIDENTIAL     CO203   2022-04-30               1
...       ...                 ...       ...          ...             ...
15775  277080  LANDED_RESIDENTIAL      CO92          NaT               1
15776  277261  LANDED_RESIDENTIAL      CO92          NaT               1
15777  277321  LANDED_RESIDENTIAL      CO92          NaT               1
15778  276844  LANDED_RESIDENTIAL      CO92          NaT               1
15779  277003  LANDED_RESIDENTIAL      CO92          NaT               1

[15780 rows x 5 columns]

In [37]:
landed_df.query("Postal == 418934")

,Postal,Block,PremiseType,RO,Constituency,EHISectorID,Sector_ID,StudyArea,ReleaseSiteSincePhase2.2,FirstReleaseDate_Postal,...,FirstReleaseEYEW_Sector,StartRelease_FullSector,StartRelease_SectorAdjusted,TotalDwelling,DATA_TYPE,FirstSustainedReleaseDate_Postal,FirstSustainedReleaseEmonth_Postal,FirstSustainedReleaseEyear.Eweek_Postal,Num_Gravitrap_deployed_2022EW17/18,Remarks
165,418934,14,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
166,418934,14A,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
167,418934,14B,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN
168,418934,14C,LANDED_RESIDENTIAL,SERO,Kembangan-Chai Chee,NaN,CO203,MarineParade_landed,MarineParade_landed_2022EW17_Apr,2022-04-30,...,2022.17,2022.17,2022.17,1,extg,2022-04-30,Apr,2022.17,0.0,NaN

In [41]:
landed_df_short_agg = landed_df_short.groupby(
    ['postal', 'premise_type', 'sector_id', 'release_date'])['total_dwelling'].sum().reset_index()

In [44]:
insert_data_into_postgresql(landed_df_short_agg, connection)

Data inserted successfully into national_analysis.site_release!

In [45]:
%%sql 

select * from national_analysis.site_release where postal = 418934

 * postgresql://postgres:***@localhost/dengue
1 rows affected.

[(418934, 'CO203', 'LANDED_RESIDENTIAL', datetime.date(2022, 4, 30), 4)]

In [43]:
connection.commit()

In [46]:
rct_df = read_excel_file(os.path.join(release_site_home, "rct.xlsx"))
rct_df["PremiseType"].unique()

array(['HDB_RESIDENTIAL'], dtype=object)

In [48]:
rct_df_short = (
    rct_df[
        ["Postal", "PremiseType", "Sector_ID", 
         "FirstSustainedReleaseDate_Postal",
         "TotalDwelling"]]
    .rename(columns={
    'Postal': 'postal',
    'PremiseType': 'premise_type',
    'Sector_ID': 'sector_id',
    'FirstSustainedReleaseDate_Postal': 'release_date',
    'TotalDwelling': 'total_dwelling'
    })
)
rct_df_short

      postal     premise_type sector_id release_date  total_dwelling
0     360081  HDB_RESIDENTIAL      FL20   2022-07-29             130
1     360082  HDB_RESIDENTIAL      FL20   2022-07-29              94
2     360083  HDB_RESIDENTIAL      FL20   2022-07-29              93
3     370019  HDB_RESIDENTIAL      FL20   2022-07-29             120
4     370020  HDB_RESIDENTIAL      FL20   2022-07-29             120
...      ...              ...       ...          ...             ...
2254  670608  HDB_RESIDENTIAL     FL727          NaT              80
2255  670609  HDB_RESIDENTIAL     FL727          NaT             172
2256  670610  HDB_RESIDENTIAL     FL727          NaT              80
2257  670611  HDB_RESIDENTIAL     FL727          NaT             170
2258  670612  HDB_RESIDENTIAL     FL727          NaT             123

[2259 rows x 5 columns]

In [49]:
insert_data_into_postgresql(rct_df_short, connection)

Data inserted successfully into national_analysis.site_release!

In [50]:
connection.close()

# 2. Climate data

In the paper, only two climate features were used 
* `max_t_scale_12_wk_avg_0`
* `days_no_rain_12_wk_total_0`


There exists two types of files `DBT_RH` which stands for Dry Bulb Temperature (DBT) + Relative Humidity (RH)

In [55]:
! ls /home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/

 forecast
'Weekly DBT_RH 20221226-20230101.csv'
'Weekly DBT_RH 20230102-20230108.csv'
'Weekly DBT_RH 20230109-20230115.csv'
'Weekly DBT_RH 20230116-20230122.csv'
'Weekly DBT_RH 20230123-20230129.csv'
'Weekly DBT_RH 20230130-20230205.csv'
'Weekly DBT_RH 20230206-20230212.csv'
'Weekly DBT_RH 20230213-20230219.csv'
'Weekly DBT_RH 20230220-20230226.csv'
'Weekly DBT_RH 20230227-20230305.csv'
'Weekly DBT_RH 20230306-20230312.csv'
'Weekly DBT_RH 20230313-20230319.csv'
'Weekly DBT_RH 20230320-20230326.csv'
'Weekly DBT_RH 20230327-20230402.csv'
'Weekly DBT_RH 20230403-20230409.csv'
'Weekly DBT_RH 20230410-20230416.csv'
'Weekly DBT_RH 20230417-20230423.csv'
'Weekly DBT_RH 20230424-20230430.csv'
'Weekly DBT_RH 20230501-20230507.csv'
'Weekly DBT_RH 20230508-20230514.csv'
'Weekly DBT_RH 20230515-20230521.csv'
'Weekly DBT_RH 20230522-20230528.csv'
'Weekly DBT_RH 20230529-20230604_amended.csv'
'Weekly DBT_RH 20230605-20230611.csv'
'Weekly DBT_RH 20230612-20230618.csv'
'Weekly DBT_RH 20230619-20230625.csv'
'Weekly DBT_RH 20230626-20230702.csv'
'Weekly DBT_RH 20230703-20230709.csv'
'Weekly DBT_RH 20230710-20230716.csv'
'Weekly DBT_RH 20230717-20230723.csv'
'Weekly DBT_RH 20230724-20230730.csv'
'Weekly DBT_RH 20230731-20230806.csv'
'Weekly DBT_RH 20230807-20230813.csv'
'Weekly DBT_RH 20230814-20230820.csv'
'Weekly DBT_RH 20230821-20230827.csv'
'Weekly DBT_RH 20230828-20230903.csv'
'Weekly DBT_RH 20230904-20230910.csv'
'Weekly DBT_RH 20230911-20230917.csv'
'Weekly DBT_RH 20230918-20230924.csv'
'Weekly DBT_RH 20230925-20231001.csv'
'Weekly DBT_RH 20231002-20231008.csv'
'Weekly DBT_RH 20231009-20231015.csv'
'Weekly DBT_RH 20231016-20231022.csv'
'Weekly DBT_RH 20231023-20231029.csv'
'Weekly DBT_RH 20231030-20231105.csv'
'Weekly DBT_RH 20231106-20231112.csv'
'Weekly DBT_RH 20231113-20231119.csv'
'Weekly DBT_RH 20231120-20231126.csv'
'Weekly DBT_RH 20231127-20231203.csv'
'Weekly DBT_RH 20231204-20231210.csv'
'Weekly DBT_RH 20231211-20231217.csv'
'Weekly DBT_RH 20231218-20231224.csv'
'Weekly DBT_RH 20231225-20231231.csv'
'Weekly Rain 20221226-20230101.csv'
'Weekly Rain 20230102-20230108.csv'
'Weekly Rain 20230109-20230115.csv'
'Weekly Rain 20230116-20230122.csv'
'Weekly Rain 20230123-20230129.csv'
'Weekly Rain 20230130-20230205.csv'
'Weekly Rain 20230206-20230212.csv'
'Weekly Rain 20230213-20230219.csv'
'Weekly Rain 20230220-20230226.csv'
'Weekly Rain 20230227-20230305.csv'
'Weekly Rain 20230306-20230312.csv'
'Weekly Rain 20230313-20230319.csv'
'Weekly Rain 20230320-20230326.csv'
'Weekly Rain 20230327-20230402.csv'
'Weekly Rain 20230403-20230409.csv'
'Weekly Rain 20230410-20230416.csv'
'Weekly Rain 20230417-20230423.csv'
'Weekly Rain 20230424-20230430.csv'
'Weekly Rain 20230501-20230507.csv'
'Weekly Rain 20230508-20230514.csv'
'Weekly Rain 20230515-20230521.csv'
'Weekly Rain 20230522-20230528.csv'
'Weekly Rain 20230529-20230604.csv'
'Weekly Rain 20230605-20230611.csv'
'Weekly Rain 20230612-20230618.csv'
'Weekly Rain 20230619-20230625.csv'
'Weekly Rain 20230626-20230702.csv'
'Weekly Rain 20230703-20230709.csv'
'Weekly Rain 20230710-20230716.csv'
'Weekly Rain 20230717-20230723.csv'
'Weekly Rain 20230724-20230730.csv'
'Weekly Rain 20230731-20230806.csv'
'Weekly Rain 20230807-20230813.csv'
'Weekly Rain 20230814-20230820.csv'
'Weekly Rain 20230821-20230827.csv'
'Weekly Rain 20230828-20230903.csv'
'Weekly Rain 20230904-20230910.csv'
'Weekly Rain 20230911-20230917.csv'
'Weekly Rain 20230918-20230924.csv'
'Weekly Rain 20230925-20231001.csv'
'Weekly Rain 20231002-20231008.csv'
'Weekly Rain 20231009-20231015.csv'
'Weekly Rain 20231016-20231022.csv'
'Weekly Rain 20231023-20231029.csv'
'Weekly Rain 20231030-20231105.csv'
'Weekly Rain 20231106-20231112.csv'
'Weekly Rain 20231113-20231119.csv'
'Weekly Rain 20231120-20231126.csv'
'Weekly Rain 20231127-20231203.csv'
'Weekly Rain 20231204-20231210.csv'
'Weekly Rain 20231211-20231217.csv'
'Weekly Rain 20231218-20231224.csv'
'Weekly Rain 20231225-20231231.csv'

In [11]:
from glob import glob

def read_yearly(root_dir: str):
    csv_files = glob(os.path.join(root_dir, 'Weekly DBT_RH*.csv'))
    print(csv_files)
    return pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

`dbt` - Dry bulb temperature

In [21]:
def parse_date(date_str):
    """Try to parse a date string in either day/month/year or month/day/year format."""
    for fmt in ('%d/%m/%Y', '%m/%d/%Y'):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    raise ValueError(f"Date format not recognized for: {date_str}")

def read_dbt_rh(root_dir: str):
    # Define the columns you want to standardize and map
    column_mapping = {
        'stationcode': 'station_id',
        'id_station': 'station_id',
        'date': 'date',
        'dateasia/singapore(+0800)': 'date',
        'maxdbt': 'dbt_max',
        'mindbt': 'dbt_min',
        'meandbt': 'dbt_mean',
        'maxrh': 'rh_max',
        'minrh': 'rh_min',
        'meanrh': 'rh_mean'
    }

    # Define standard columns after renaming
    standard_columns = [
        'date', 'station_id', 'dbt_max', 'dbt_min', 'dbt_mean', 'rh_max', 'rh_min', 'rh_mean'
    ]
    
    # Find all CSV files matching the pattern
    csv_files = glob(os.path.join(root_dir, 'Weekly DBT_RH*.csv'))
    # for file in csv_files:
    #     print(file)
    
    # Create an empty list to store DataFrames
    df_list = []
    
    for file in csv_files:
        # Read each CSV file
        df = pd.read_csv(file)
        
        # Normalize column names
        df.columns = [col.strip().lower().replace(" ", "").replace('"', '') for col in df.columns]
        
        # Rename columns based on the new mapping
        df.rename(columns=column_mapping, inplace=True)
        
        # Filter out the columns that match the standard columns
        df_filtered = df[[col for col in standard_columns if col in df.columns]]
        
        # Encode timezone in the 'date' column
        if 'date' in df_filtered.columns:
            df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

        # Append the filtered DataFrame to the list
        df_list.append(df_filtered)
    
    # Concatenate all DataFrames into one
    return pd.concat(df_list, ignore_index=True)

In [22]:
df = read_dbt_rh(os.path.join(climate_data_home, 'weather_2023'))
df

/tmp/ipykernel_849965/441870856.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

,date,station_id,dbt_max,dbt_min,dbt_mean,rh_max,rh_min,rh_mean
0,2023-04-24 00:00:00+08:00,S102,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-04-24 00:00:00+08:00,S109,34.4,26.7,29.7,90.9,47.2,71.3
2,2023-04-24 00:00:00+08:00,S60,33.9,25.9,29.5,88.2,48.0,72.8
3,2023-04-24 00:00:00+08:00,S116,32.2,27.5,29.3,89.5,55.7,78.4
4,2023-04-24 00:00:00+08:00,S44,33.1,23.2,27.8,97.4,55.4,83.0
...,...,...,...,...,...,...,...,...
6652,2023-08-27 00:00:00+08:00,S115,31.8,25.8,28.6,86.7,62.3,77.1
6653,2023-08-27 00:00:00+08:00,S23,33.1,24.0,28.1,100.0,61.8,84.7
6654,2023-08-27 00:00:00+08:00,S104,33.2,24.8,28.4,89.9,56.3,74.0
6655,2023-08-27 00:00:00+08:00,S24,32.2,25.3,28.5,92.9,58.4,77.5
6656,2023-08-27 00:00:00+08:00,S106,33.4,24.2,28.1,94.1,57.2,79.8

In [5]:
def read_rainfall_data(root_dir: str):
    # Define the columns you want to standardize and map for rainfall data
    column_mapping = {
        'stationcode': 'station_id',
        'id_station': 'station_id',
        'date': 'date',
        'date.singapore...0800.': 'date',
        'dateasia/singapore(+0800)': 'date',
        'datesingapore(+0800)': 'date',
        'dailyrainamount(mm)': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'totalrain': 'rain_amount',
        'rainamount': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'rainamount': 'rain_amount',
        'dailyrainamount(mm)': 'rain_amount',
        'dailyrainamount': 'rain_amount',
        'dailyrainamount(mm)': 'rain_amount',
        'dailyrainamount': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'rainamount': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'dailyrainamount(mm)': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
        'totalrain': 'rain_amount',
        'rainamount(mm)': 'rain_amount',
    }

    standard_columns = [
        'date', 'station_id', 'rain_amount', 'rain_duration'
    ]

    # Find all CSV files in the directory
    # Find all CSV files matching the pattern
    csv_files = glob(os.path.join(root_dir, 'Weekly Rain*.csv'))
    
    for file in csv_files:
        if re.search(r"20221226", file):
            print(file)
    
    # Create an empty list to store DataFrames
    df_list = []
    
    for file in csv_files:
        print(file)
        # Read each CSV file
        df = pd.read_csv(file)

        # Normalize column names
        df.columns = [col.strip().lower().replace(" ", "").replace('"', '') for col in df.columns]
        
        # Rename columns based on the new mapping
        df.rename(columns=column_mapping, inplace=True)
        
        # Filter out the columns that match the standard columns
        df_filtered = df[[col for col in standard_columns if col in df.columns]]

        # # Encode timezone in the 'date' column
        if 'date' in df_filtered.columns:
            df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

        # Append the filtered DataFrame to the list
        df_list.append(df_filtered)
        # Concatenate all DataFrames into one
    return pd.concat(df_list, ignore_index=True)

In [77]:
df = read_rainfall_data(os.path.join(climate_data_home, "weather_2023"))
df

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20221226-20230101.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230417-20230423.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230731-20230806.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231016-20231022.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230424-20230430.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230529-20230604.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230220-20230226.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230814-20230820.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230327-20230402.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231002-20231008.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230515-20230521.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230717-20230723.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230605-20230611.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230109-20230115.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230102-20230108.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230410-20230416.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230508-20230514.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231225-20231231.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230626-20230702.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231113-20231119.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20221226-20230101.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230206-20230212.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230904-20230910.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230619-20230625.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230306-20230312.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230130-20230205.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230918-20230924.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231009-20231015.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230213-20230219.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231211-20231217.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230320-20230326.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231120-20231126.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231030-20231105.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230227-20230305.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230522-20230528.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230911-20230917.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231106-20231112.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230828-20230903.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230925-20231001.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230710-20230716.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230403-20230409.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231023-20231029.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231218-20231224.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230313-20230319.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230821-20230827.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230501-20230507.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230116-20230122.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231204-20231210.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230807-20230813.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20231127-20231203.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230612-20230618.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230703-20230709.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230123-20230129.csv
/home/wesley/github/etheleon/national_analysis/data/climate/weather_2023/Weekly Rain 20230724-20230730.csv

/tmp/ipykernel_133540/1949860617.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

                           date station_id  rain_amount
0     2023-04-17 00:00:00+08:00       S102          NaN
1     2023-04-17 00:00:00+08:00        S94          2.0
2     2023-04-17 00:00:00+08:00       S215          1.6
3     2023-04-17 00:00:00+08:00       S130          5.6
4     2023-04-17 00:00:00+08:00        S71          1.6
...                         ...        ...          ...
31796 2023-07-30 00:00:00+08:00       S303          0.0
31797 2023-07-30 00:00:00+08:00        S61          NaN
31798 2023-07-30 00:00:00+08:00       S113          0.4
31799 2023-07-30 00:00:00+08:00       S106          0.0
31800 2023-07-30 00:00:00+08:00       S108          1.4

[31801 rows x 3 columns]

## 2022-2024

### Rainfall

In [ ]:
rainfall_df =

### Temperature

1982 - 2021

In [46]:
temperature_2009_2021_df = pd.read_csv(os.path.join(climate_data_home, "weather_1982_2021", "Daily DBT 2009-2021.csv"))
temperature_2009_2021_df.columns = [col.strip().lower().replace(" ", "").replace('"', '') for col in temperature_2009_2021_df.columns]
temperature_2009_2021_df.rename(columns=  {
        
        'id_station': 'station_id',
        
        'dateasia/singapore(+0800)': 'date',
        'maxdbt': 'dbt_max',
        'mindbt': 'dbt_min',
        'meandbt': 'dbt_mean',
        'meanrh': 'rh_mean'
    }, inplace=True)

expected_columns = ['rh_max', 'rh_min', 'rh_mean']

# Check if each column exists in the DataFrame, and if not, add it with NaN values
for col in expected_columns:
    if col not in temperature_2009_2021_df.columns:
        temperature_2009_2021_df[col] = np.nan


temperature_2009_2021_df

,date,station_id,dbt_max,dbt_min,dbt_mean,rh_mean,rh_max,rh_min
0,1/2/2009,S102,28.8,26.0,27.1,74.6,NaN,NaN
1,2/2/2009,S102,30.4,25.0,27.1,72.6,NaN,NaN
2,3/2/2009,S102,29.5,25.0,26.6,77.3,NaN,NaN
3,4/2/2009,S102,29.6,24.9,26.5,79.6,NaN,NaN
4,5/2/2009,S102,30.0,25.2,27.0,77.9,NaN,NaN
...,...,...,...,...,...,...,...,...
137413,27/12/2021,S80,32.9,25.2,28.2,79.2,NaN,NaN
137414,28/12/2021,S80,32.5,25.3,28.2,78.2,NaN,NaN
137415,29/12/2021,S80,31.4,24.9,27.4,86.6,NaN,NaN
137416,30/12/2021,S80,31.0,24.2,27.5,87.5,NaN,NaN
137417,31/12/2021,S80,27.0,24.0,25.2,98.3,NaN,NaN

2022 is slightly different

In [37]:
# Define the column names with max, min, and mean as suffixes
snake_case_names = [
    "station", "year", "month", "day", "dbt_mean",
    "rh_mean", "dbt_max", "dbt_min",
    "wind_direction_scalar_mean", "wind_speed_scalar_kts_mean",
    "wind_direction_max", "wind_speed_kts_max"
]

# Read the CSV file, skipping the first row and using the custom column names
temperature_2022_df = pd.read_csv("/home/wesley/github/etheleon/national_analysis/data/climate/weather_2022/Temp 2022.csv", skiprows=1, names=snake_case_names, encoding='ISO-8859-1').loc[:, :"dbt_min"]

expected_columns = ['rh_max', 'rh_min', 'rh_mean']

# Check if each column exists in the DataFrame, and if not, add it with NaN values
for col in expected_columns:
    if col not in temperature_2022_df.columns:
        temperature_2022_df[col] = np.nan

temperature_2022_df.rename(columns={'station': 'station_id'}, inplace=True)


# Combine year, month, and day into a single date column
temperature_2022_df['date'] = pd.to_datetime(temperature_2022_df[['year', 'month', 'day']])
temperature_2022_df.drop(columns=['year', 'month', 'day'], inplace=True)
temperature_2022_df['date'] = temperature_2022_df['date'].dt.tz_localize('Asia/Singapore')

In [38]:
temperature_2022_df

,station_id,dbt_mean,rh_mean,dbt_max,dbt_min,rh_max,rh_min,date
0,S06,25.8,87.5,31.0,23.4,NaN,NaN,2022-01-01 00:00:00+08:00
1,S06,24.0,96.4,24.9,23.2,NaN,NaN,2022-01-02 00:00:00+08:00
2,S06,26.1,84.8,31.6,23.4,NaN,NaN,2022-01-03 00:00:00+08:00
3,S06,26.2,87.0,32.4,24.1,NaN,NaN,2022-01-04 00:00:00+08:00
4,S06,28.1,75.3,34.3,25.2,NaN,NaN,2022-01-05 00:00:00+08:00
...,...,...,...,...,...,...,...,...
2864,S80,28.9,78.1,34.4,24.7,NaN,NaN,2022-05-27 00:00:00+08:00
2865,S80,28.4,78.8,32.6,25.3,NaN,NaN,2022-05-28 00:00:00+08:00
2866,S80,29.2,73.7,34.1,25.4,NaN,NaN,2022-05-29 00:00:00+08:00
2867,S80,29.7,75.4,34.4,25.1,NaN,NaN,2022-05-30 00:00:00+08:00
2868,S80,29.1,81.1,34.0,26.0,NaN,NaN,2022-05-31 00:00:00+08:00

In [47]:
temperature_df = pd.concat([
    temperature_2009_2021_df,
    temperature_2022_df,
    read_dbt_rh(os.path.join(climate_data_home, 'weather_2023')),
    read_dbt_rh(os.path.join(climate_data_home, 'weather_2024')),
],     ignore_index=True)

/tmp/ipykernel_849965/441870856.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')
/tmp/ipykernel_849965/441870856.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['date'].apply(parse_date).dt.tz_localize('Asia/Singapore')

In [48]:
temperature_df.head()

       date station_id  dbt_max  dbt_min  dbt_mean  rh_mean  rh_max  rh_min
0  1/2/2009       S102     28.8     26.0      27.1     74.6     NaN     NaN
1  2/2/2009       S102     30.4     25.0      27.1     72.6     NaN     NaN
2  3/2/2009       S102     29.5     25.0      26.6     77.3     NaN     NaN
3  4/2/2009       S102     29.6     24.9      26.5     79.6     NaN     NaN
4  5/2/2009       S102     30.0     25.2      27.0     77.9     NaN     NaN

In [ ]:
def insert_data_into_postgresql(df, connection):
    cursor = connection.cursor()

    # Prepare the INSERT query
    insert_query = sql.SQL("""
        INSERT INTO national_analysis.site_release (
            postal, sector_id, premise_type, release_date, total_dwelling
        ) VALUES (%s, %s, %s, %s, %s)
    """)

    # Iterate over the rows in the DataFrame and insert them into the table
    for index, row in df.iterrows():
        cursor.execute(insert_query, (
            int(row['postal']),
            row['sector_id'],
            row['premise_type'],
            row['release_date'] if pd.notnull(row['release_date']) else None,  # Handle NA dates
            int(row['total_dwelling']) if pd.notnull(row['total_dwelling']) else None
        ))

    # Commit the transaction
    connection.commit()
    print("Data inserted successfully into national_analysis.site_release!")

## Historical